h1 {
    font-family: var(--main-family);
    font-size: var(--main-font-size);
    margin-top: 21px;
    margin-left: 46%;
    margin-bottom: 40px;
    color: var(--main-border-color);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1000px;
    height: 3100px;
    margin: 0 auto;
}

main img {
    width: 23%;
    margin: 0 5px 5px 0;
    border: 2px solid var(--main-border-color);
    border-radius: var(--main-radius);
    filter: var(--main-filter);
}