@font-face {
    font-family: Modern;
    src: url(./fonts/modern.ttf);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.content {
    display: flex;
    align-items: center;
}

.left-text, .right-text {
    font-family: Modern;
    text-align: center;
    font-size: 3em;
}

.logo-scheduler {
    height: 100px;
    transition: transform 0.5s ease-in-out; 
  }
  
.logo-scheduler:hover {
    transform: rotate(360deg);
}

@media (max-width: 540px) {
    .header {
        scale: 0.5;
    }
}