.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 17em;
  margin: 80px 58px; 
}

.product-image {
  width: 150px; 
  height: 204px;
  object-fit: cover;
}